* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*头部样式*/
#top {
    background-color: #7d88fd;
    height: 50px;
    /*line-height:50px;*/
    color: white;
}

    #top h3 {
        margin-left: 20px;
        margin-top: 10px;
    }

#Label_ad {
    color: white;
    /*font-size:24px;*/
    float: right;
    margin-right: 40px;
    margin-top: -30px;
}

/*文本框样式*/
.text {
    width: auto;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-radius: 4px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

/*表格样式*/
#Grid_ProductShow {
    width: 100%;
    border: none;
}

    #Grid_ProductShow tr th，#Grid_AdminShow tr th，#Grid_OrderShow tr th，#Grid_UserShow tr th {
        color: #575757;
        font-size: small;
    }

    #Grid_ProductShow tr td，#Grid_AdminShow tr td，#Grid_OrderShow tr td，#Grid_UserShow tr td {
        color: #575757;
        height: 90px;
        line-height: 90px;
    }

.table-bordered1 {
    border-bottom: 1px solid #ddd;
}

/*按钮样式*/
.btn-primary {
    color: #fff;
    background-color: #7d88fd;
    border-color: #7d88fd;
}

/*右边主体盒子样式*/
.right div {
    margin-top: 15px;
}

.margin {
    margin-bottom: 10px;
    margin-top: 10px;
}

#DropDownList_class {
    width: 200px;
}
/*菜单样式*/
.left {
    background-color: #f9f9f9;
    height: 700px;
}

/*菜单样式*/
ul {
    list-style-type: none;
}

a {
    /*color: #444359;*/
    text-decoration: none;
}



.accordion {
    width: 237px;
    max-width: 360px;
    /*margin: 30px auto 20px;*/
    /*background:#ddd;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .accordion .link {
        cursor: pointer;
        display: block;
        padding: 15px 15px 15px 42px;
        color: #444359;
        font-size: 14px;
        font-weight: 700;
        border-bottom: 1px solid #ddd;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        padding-left: 70px;
    }



        .accordion .link:hover {
            color: #2f4ffe;
            text-decoration: none;
        }

    .accordion li:last-child .link {
        border-bottom: 0;
    }

    .accordion li i {
        position: absolute;
        top: 16px;
        left: 50px;
        font-size: 16px;
        color: #444359;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

        .accordion li i.fa-chevron-down {
            right: 12px;
            left: auto;
            font-size: 16px;
        }

    .accordion li.open .link {
        color: #444359;
    }


    .accordion li.open i.fa-chevron-down {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

.submenu {
    display: none;
    font-size: 14px;
}

    .submenu a {
        display: block;
        text-decoration: none;
        color: #444359;
        padding: 12px;
        padding-left: 42px;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
        text-align: center;
    }

        .submenu a:hover {
            background: #e6f7ff;
            color: #2f4ffe;
            text-decoration: none;
            border-right: 3px solid #1e87f0;
        }
